* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --bg-color: #ffffff;
  --text-main: #000000;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;

  --font-primary: "Inter", sans-serif;
  --weight-regular: 400;
  --weight-heavy: 800;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
}

nav ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-muted);
}

.logo a {
  font-size: 2rem;
  font-weight: var(--weight-heavy);
  color: var(--text-main);
  text-transform: uppercase;
  letter-spacing: -2px;
}

.site-footer {
  border-top: 1px solid var(--border-color);
  padding: 2rem 5%;
  margin-top: 4rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer p {
  color: var(--text-muted);
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.hero-title {
  font-size: 6rem;
  letter-spacing: -2px;
  margin-bottom: 1.2rem;
}

.hero-details {
  color: var(--text-muted);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  background-color: var(--text-main);
  color: #ffffff;
  padding: 1rem 2.5rem;
  border-radius: 50px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5%;
}

.about {
  max-width: 45%;
}
.about p {
  color: var(--text-muted);
}

.stat {
  display: flex;
  gap: 3rem;
}

.stat-item {
  text-align: center;
}

.stat-item h2 {
  font-size: 4rem;
}

.stat-item p {
  text-transform: uppercase;
  color: var(--text-muted);
}

.speakers-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5%;
}

.speakers-grid {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.speaker-card {
  flex: 1;
  text-align: left;
}

.speaker-photo {
  height: 450px;
  background-color: var(--border-color);
  border-radius: 16px;
  margin-bottom: 1.5rem;
}

.speakers-preview h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.speaker-card p {
  color: var(--text-muted);
}

.speaker-card a {
  display: inline-block;
  margin-top: 1.2rem;
  color: var(--text-main);
}
